<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nodejs Mysql CRUD</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          CRUD Nodejs Mongo
          <!-- <br>
          <h5>Segovia Joaquin Amaru</h5>
          <h5>Rufino Ariel Leandro</h5>
          <h5>Paco Horacio Kevin</h5>
          <h5>Mamani Alex Adrian</h5>
          <h5>Diaz Sebastian</h5> -->
        </a>
      </div>
    </nav>
  </body>
</html>